body {
	position: relative;
	height: 100vh;
	background-color: black;
	color: white;
	font-family: Bubbler One;
	font-weight: 100;
}
		
#name {
	position: absolute;
	text-align: right;
	font-size: 50px;
	margin-top: 0%;
	margin-left: 25%;
	border: solid cyan 1px;
	width: 70%;
}
		
#mypic {
	position: absolute;
	margin-top: 0%;
	width: 20%; <!-- Maybe have as a percentage instead. -->
}

#contacts {
	position: absolute;
	border: solid cyan 1px;
	height: 300px;
	overflow: auto;
	margin-top: 25%;
	width: 20%;
}

#aboutme {
	position: absolute;
	border: solid cyan 1px;
	margin-top: 12.65%;
	margin-left: 25%;
	height: 50%;
	overflow: auto;
	width: 20%; <!-- For some reason overflow won't work if put after this. -->
}

#aboutme table {
	border: 1px solid cyan;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

#aboutme thead {
	border: 1px solid pink;
	display: block;
	overflow: hidden;
	height: 25%;
	width: auto;
	background: red;
}

#aboutme tbody {
	border: 1px solid cyan;
	background: green;
	display:block;
	overflow:auto;
	height: 75%;
	width: auto;
}

#works {
	position: absolute;
	border: solid cyan 1px;
	overflow: auto;
	margin-top: 12.65%;
	margin-left: 50%;
	height: 50%;
	overflow: auto;
	width: 20%;
}

#works table {
	border: 1px solid cyan;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

#works thead {
	border: 1px solid pink;
	display: block;
	overflow: hidden;
	height: 25%;
	width: auto;
	background: red;
}

#works tbody {
	border: 1px solid cyan;
	background: green;
	display:block;
	overflow:auto;
	height: 75%;
	width: auto;
}

#misc {
	position: absolute;
	margin-top: 12.65%;
	margin-left: 75%;
	height: 50%;
	overflow: hidden;
	width: 20%;
}

#misc table {
	border: 1px solid cyan;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

#misc thead {
	border: 1px solid pink;
	display: block;
	overflow: hidden;
	height: 25%;
	width: auto;
	background: red;
}

#misc tbody {
	border: 1px solid cyan;
	background: green;
	display:block;
	overflow:auto;
	height: 75%;
	width: auto;
}
		
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 5px #00344C;
	border-radius: 10px;
	background-color: cyan;
}

::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 5px cyan;
	background-color: black;
}
		
.testlink:link {
	color: cyan;
}
		
.testlink:visited {
	color: #00344C;
}
		
.testlink:hover {
	color: white;
}