body {
	position: relative;
	background-color: black;
	color: white;
	font-family: Bubbler One;
	font-weight: 100;
}
		
#name {
	position: absolute;
	text-align: right;
	font-size: 50px;
	margin-top: 0%;
	margin-left: 25%;
	border: solid cyan 1px;
	width: 70%;
}
		
#mypic {
	position: absolute;
	margin-top: 0%;
	width: 20%; <!-- Maybe have as a percentage instead. -->
}

#contacts {
	position: absolute;
	border: solid cyan 1px;
	height: 300px;
	overflow: auto;
	margin-top: 25%;
	width: 20%;
}

#aboutme {
	position: absolute;
	border: solid cyan 1px;
	margin-top: 12.65%;
	margin-left: 25%;
	height: 500px;
	overflow: auto;
	width: 20%; <!-- For some reason overflow won't work if put after this. -->
}

#works {
	position: absolute;
	border: solid cyan 1px;
	height: 500px;
	overflow: auto;
	margin-top: 12.65%;
	margin-left: 50%;
	height: 500px;
	overflow: auto;
	width: 20%;
}

#misc {
	position: absolute;
	border: solid cyan 1px;
	height: 500px;
	overflow: auto;
	margin-top: 12.65%;
	margin-left: 75%;
	height: 500px;
	overflow:auto;
	width: 20%;
}
		
.testlink:link {
	color: cyan;
}
		
.testlink:visited {
	color: #00344C;
}
		
.testlink:hover {
	color: white;
}